.container {
    display: grid;
    background-color: #333;
    border: 4px solid red;
    padding: 15px;
    grid-template-columns: 50px auto 50px;
    height: 50vh;
    grid-template-rows: 20% 20%;
    gap: 100px;
    grid-row-gap: 195px
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

.p {
    display: flex;
    align-items: center;
}